<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3fda1">  <td>21/07/17 13:44:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test1.beforeTest()[pri:0, instance:com.web.tests.Test1@a530d0a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1646371921</td>   <td></td> </tr>
<tr bgcolor="b3fda1">  <td>21/07/17 13:45:45</td>   <td>54741</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.endTest()[pri:0, instance:com.web.tests.Test1@a530d0a]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b3fda1">  <td>21/07/17 13:45:45</td>   <td>54696</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.startTest()[pri:0, instance:com.web.tests.Test1@a530d0a]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b3fda1">  <td>21/07/17 13:45:45</td>   <td>54750</td> <td>&nbsp;</td><td title="&lt;&lt;Test1.terminateBrowser()[pri:0, instance:com.web.tests.Test1@a530d0a]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b3fda1">  <td>21/07/17 13:45:45</td>   <td>54719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.test()[pri:1, instance:com.web.tests.Test1@a530d0a]">test</td> 
  <td>main@1646371921</td>   <td></td> </tr>
</table>
