<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>softwaretestingmaterial</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bf671">  <td>21/06/27 21:18:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test1.beforeTest()[pri:0, instance:com.web.tests.Test1@48ae9b55]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>21/06/27 21:20:41</td>   <td>105608</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.endTest()[pri:0, instance:com.web.tests.Test1@48ae9b55]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>21/06/27 21:19:02</td>   <td>6535</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.startTest()[pri:0, instance:com.web.tests.Test1@48ae9b55]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>21/06/27 21:20:42</td>   <td>106697</td> <td>&nbsp;</td><td title="&lt;&lt;Test1.terminateBrowser()[pri:0, instance:com.web.tests.Test1@48ae9b55]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>21/06/27 21:20:21</td>   <td>85800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.test2()[pri:2, instance:com.web.tests.Test1@48ae9b55]">test2</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>21/06/27 21:20:21</td>   <td>85800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.test2()[pri:2, instance:com.web.tests.Test1@48ae9b55]">test2</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>21/06/27 21:20:21</td>   <td>85800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.test2()[pri:2, instance:com.web.tests.Test1@48ae9b55]">test2</td> 
  <td>main@2127036371</td>   <td></td> </tr>
</table>
